* {
  margin: 0;
  padding: 0;
}
:root,
body {
  background-color: #191919;
  color: lightblue;
  height: 100%;
}

body {
  padding: 20px;
}

button {
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
