* {
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .img {
    width: 250px !important;
    height: 250px !important;
  }
}

@media (max-width: 600px) {
  .movie-desc p {
    width: 450px !important;
  }
}

@media (max-width: 500px) {
  .movie-desc p {
    width: 400px !important;
  }
}

@media (max-width: 400px) {
  .movie-desc p {
    width: 300px !important;
  }

  .titles,
  .movie-title {
    font-size: 1.3rem !important;
  }

  .movie-desc p {
    font-size: 1rem !important;
  }
}

@media (max-width: 350px) {
  .movie-desc p {
    width: 250px !important;
  }
}

@media (max-width: 300px) {
  .movie-desc p {
    width: 200px !important;
  }
}

:root {
  --main-bg-color: #191c20;
  --main-fg-color: #e1e1dd;
  --main-text-color-dim: #91a3b0;
}
:root,
body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  height: 100%;
  font-size: 14px;
}

.titles {
  display: block; /* dummy style */
}

.main-cont {
  margin: 20px 20px 0 20px;
  text-align: center;
}

.btn {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-fg-color);
  color: var(--main-bg-color);
  font-weight: bold;
}

.movie-cont {
  width: 100%;
}

.img-cont {
  display: inline-block;
}

.img {
  margin: 20px 0;
  width: 300px;
  height: 300px;
  border-radius: 7px;
}

.movie-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-genres {
  color: var(--main-text-color-dim);
}

.movie-desc {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-bottom: 100px;
}

.movie-desc p {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6rem;
}
