* {
  margin: 0;
  padding: 0;
}
:root,
body {
  background-color: #1b1b1b;
  color: antiquewhite;
  height: 100%;
}

body {
  padding: 20px;
}

button {
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: antiquewhite;
  color: #1b1b1b;
  font-weight: bold;
}
